body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(0.3turn, #ff000033, #0000ff33);
}
.container {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
}
.header {
  text-align: center;
  padding: 40px 0;
}
.header h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  color: #777;
  margin: 0;
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff33;
  border: solid 1px #fff0;
  color: #00f4;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s;
  margin: 0 10px;
}
.cta-button:hover {
  background-color: #ffffff66;
  border: solid 1px #ffff;
  color: #f008;
}

.left-right {
  background: linear-gradient(0.3turn, #ff000033, #0000ff33);
}

.right-left {
  background: linear-gradient(0.7turn, #ff000033, #0000ff33);
}

.footer-position {
  display: absolute;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.footer {
  padding: 20px 0;
  text-align: center;
  color: #888;
}

.band-background {
  background-color: #fff;
}

.band {
  padding: 20px 0;
  text-align: center;
  color: #c9c;
}
